*{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

div{
    display: inline-block;
    margin: 20px 20px;
}

#div1{
    background-color: rgb(0, 132, 255);
    width: 200px;
    height: 200px;
}

#div2{
    background-color: rgb(253, 60, 60);
    width: 200px;
    height: 200px;
}

#div3{
    background-color: yellow;
    width: 200px;
    height: 200px;
}

#div1:hover{
    background-color: black;
    color: white;
    width: 250px;
    height: 250px;
}

#div2:active{
    background-color: black;
    color: white;
    width: 250px;
    height: 250px;
}

#div3 input:focus{
    background-color: black;
    color: white;
    width: 250px;
    height: 250px;
}

ul{
    list-style-position: inside;
}

ul li:nth-child(2){
    color: red;
}

ul li:last-of-type{
    color: rgb(136, 136, 1);
}