.app{
  max-width: 600px;
  margin: 5% auto;
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.app h1{
  text-align: center;
  margin-bottom: 20px;
}

.to-do-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.todo-form{
  padding-bottom: 1.5rem;
}

input, select{
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom:10px;
  width: 100%;
}

.todo-form h2{
  text-align: center;
  margin: 20px 0px;
}

button{
  background-color: #260ABE;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover{
  opacity: 0.8;
}

.complete{
  background-color: #0A8A0A;
}

.delete{
  background-color: #8A0A0A;
}

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.search h2{
  margin-bottom: 5px;
}

.search input{
  width: 67%;
  margin-left: 10px;
}