*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  background: linear-gradient(to bottom, rgb(199, 198, 198),gray, gray, black);
  background-repeat: no-repeat;
  background-attachment: fixed;
}